body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.9em;
  margin: 0em;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

#app {
  background-color: #111;
}

.grid {
  background-color: #222;
  width: 100%;
  height: 100%;
}

.button {
  width: 100;
  height: 40;
  fill: #333;
  stroke: #eee;
  stroke-width: 2px;
  rx: 4;
}

.audio-block {
  fill: #444;
  width: 128px;
  height: 128px;
  rx: 10;
}

.audio-block-shadow {
  fill: #333;
  width: 128px;
  height: 128px;
  rx: 10;
}

.audio-port {
  width: 16;
  height: 16;
  rx: 4;
}

.audio-port-shadow {
  width: 16;
  height: 16;
  rx: 4;
}
